{% extends 'base.html'  %}
{% block title %}Questions{% endblock %}

{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<section class="messages">
  {% for category,msg in messages %}
  <p class="{{category}}">{{msg}}</p>
  {% endfor  %}
</section>
{% endif %}
{% endwith %}
<h3>{{question.question}}</h3>
<form action="/answer" method="POST">
  {% for choice in question.choices %}
        <input type="radio" id="pick" value ='{{choice}}' name="answer">
        <label for="pick">{{choice}}</label>
  {%endfor%}
        <button>Next</button>
</form>


{% endblock %}